{:paths ["src"]
 :deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff"
                           :tag "v0.7.0"
                           :sha "6a5ba0a"
                           :deps/root "tasks"}}}
